*{
    margin: 0;
    box-sizing: border-box;
}

/* h1{
    border: 2px solid red; */

    /* DISPLAY INLINE */
    /* height: 100px;
    width: 200px;
    margin: 20px;
    padding: 30px;  
} */

/* b{
    border: 2px solid green; */
    /* DISPLAY:BLOCK */
    /* height: 100px;
    width: 200px;
    margin: 30px;
    padding: 30px;
} */


div{
    height: 180px;
    width: 180px;
    border: 2px solid black;
    /* display:inline-block; */
}

#red{
    background-color: red;

}

#green{
    background-color: green;
    /* display: none; */
    visibility: hidden;
}

#blue{
    background-color: blue;
}