*{
    margin:0;
    box-sizing: border-box;
}

div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#red{
    
   background-color: red;
   float: none;
   float: left;
   float: right;

}

#green{
   
    background-color: green;
    float: none;
    float: left;
    float: right;
}

#blue{
  background-color: blue;
  float: none;
  float: left;
  float: right;
}