*{
    box-sizing: border-box;
}
/* h1{ */
    /* TEXT-DECORATION-LINE*/
    /* text-decoration-line: none;
    text-decoration-line: underline; */

    /* TEXT-DECORATION-COLOR */
    /* text-decoration-color: red; */
    
    /* TEXT-DECORATION-STYLE */
    /* text-decoration-style: solid;
    text-decoration-style: dashed;
    text-decoration-style: dotted;
    text-decoration-style: double;
    text-decoration-style: wavy; */

    /* TEXT-DECORATION */

/* text-decoration: overline yellow wavy 2px; */
/* } */

/* a{
    text-decoration-line: none ;
} */

p{
    /* TEXT-INTENT */
    text-indent: 200px;

    /* WORD-SPACING */
    word-spacing: 20px;

    /* LETTER-SPACING */
    letter-spacing: 3px;

    /* TEXT-SHADOW */
    text-shadow: 3px 3px 2px rgb(150, 55, 55),
    -3px -3px 2px yellow ;

    /* TEXT ALIGN LAST */
    text-align-last: justify;
    text-align-last: right;

    /* LINE-HEIGHT */
    line-height: 50px;

    
}

h2{
/* TEXT-ALIGN */
text-align:center ;
text-align:left;
text-align:right ;
text-align:justify ;

}