img{
    height: 300px;
    width: 200px;
    border: 5px solid black;
    display: block;
}

#anushka{
    position: absolute;
    z-index: 25;
}

#kayadu{
    position: absolute;
    z-index: 25;
}

#samantha{
    position: absolute;
    z-index: 25;
}